.form-check{
    border: none;
    cursor: context-menu;
    border-radius: 10px;
    overflow: hidden;
    color: rgba(104, 100, 100, 0.76) ;
}
.form-check:hover{
    border: 2px solid rgb(68, 90, 97) ;
    overflow: hidden;
    color: rgb(54, 49, 49);
}
